<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_header">
    <style type="text/css">
        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 55px;
            margin-bottom: -1px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top: none;
        }
    </style>
    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="logo"><img src="/static/admin/images/logo.png"/></div>
            <div class="info2">
                <h1>英卡电子</h1>
                <div class="uers"><a href="/"><i class="icon iconfont icon-geren"></i>cqnews</a><a href="/"
                                                                                                   class="news">消息<span>5</span></a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/index.html"><i class="icon iconfont icon-shouye"></i>首页</a></li>

                    <li><a href="/admin/user/index.html"><i class="icon iconfont icon-yuangong"></i>用户</a></li>

                    <li><a href="/admin/app/index.html"><i class="icon iconfont icon-gongzuotai"></i>应用</a></li>

                    <li><a href="/logout"><i class="icon iconfont icon-tuichu"></i>退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="hope" th:fragment="hope">


    <div>
        欢迎您：<strong th:text="${WorkContext.nickName} "></strong>
        <span>|</span>
        今天是：<span id="show">2017月11日15 星期三</span>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            var show = document.getElementById("show");
            setInterval(function () {
                var time = new Date();
                // 程序计时的月从0开始取值后+1
                var m = time.getMonth() + 1;
                var t = time.getFullYear() + "-" + m + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
                show.innerHTML = t;
            }, 1000);
        };
    </script>

</div>