﻿/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆青沃科技有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */

@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-group {
    clear: both;
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
}

label {
    width: 16%;
    font-size: 14px;
    color: #FFF;
    line-height: 34px;
    text-align: left;
}

.form-control {
    display: block;
    width: 84%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.form-control-1 {
    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    float: left;
}

.btn-default {
    width: 40%;
    background: #26ade4;
    margin-left: 16%;
    color: #fff;
    border: none;
    transition: all .3s linear;
}

.btn-default:hover {
    background: #086c94;
    color: #FFF;
}

.form-group img {
    width: 95px !important;
    height: 34px !important;
    margin-left: 15px;
}

#wrapper .bootpage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

#wrapper .bootpage li img {

    width: 100%;
    height: auto;
}

#wrapper .logobox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#wrapper .logobox .logoboxin {
    width: 580px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    margin-left: -290px;
    top: 50%;
    margin-top: -140px;
    border-radius: 6px;
    padding: 15px;
}

#wrapper .logobox .logoboxin .code2 {
    display: block;
    width: 28px;
    height: 28px;
    right: 6px;
    top: 6px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999999px;
    background-image: url("https://cdn.cqwo.com/images/code3.png");
    background-size: 100% 100%;

}

#wrapper .logobox .logoboxin img {
    width: 220px;
    height: 250px;
    float: left;
    overflow: hidden;
}

#wrapper .logobox .logoboxin .administrationbox {
    width: 330px;
    padding-left: 15px;
    height: 250px;
    float: right;
}

#wrapper .logobox .logoboxin .administration {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #FFFFFF;
    float: left;
}

#wrapper .logobox .logoboxin .administration img {
    width: 54px;
    height: 54px;
    float: left;
}

#wrapper .logobox .logoboxin .administration p {
    font-size: 15px;
    color: #FFF;
    font-family: "锐字逼格青春体简2.0";
    margin: 0px;
    margin-top: 6px;
}

#wrapper .logobox .logoboxin .administration span {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}
