﻿@charset "UTF-8";
/*
 *
 *  * Copyright (C) 2017.
 *  * 用于JAVA项目开发
 *  * 重庆青沃科技有限公司 版权所有
 *  * Copyright (C)  2017.  CqingWo Systems Incorporated. All rights reserved.
 *
 */
/* CSS Document */
@import url("https://cdn.cqwo.com/css/struts.css");
@import url("layout.css");
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

body {
    width: 100%;
	overflow-x: hidden;
}
a ,a:hover, a:focus{
	text-decoration: none;
}

.hide{
	display: none;
}
.navbar-inverse {
	background: url(../images/barand1.png);
	height: 90px;
	width:100%;
	overflow:hidden;
}
.logo {
	width: 74px;
	height: 90px;
	float: left;
    cursor: pointer
}
.logo img {
	width: 74px;
	height: 90px;
	overflow: hidden;
}
.info2 {
	display: block;
	float: left;
	margin-left: 15px;
}
.info2 h1 {
	font-size: 24px;
	color: #FFF;
	font-family: "锐字逼格青", "锐字逼格青春体简2.0";
	margin: 16px 0px 8px 0px;
}
.uers {
	width: 190px;
	height: 26px;
	background-color: #1f252d;
	border-radius: 20px;
	padding: 0px 15px;
	line-height: 26px;
	color: #FFF;
}
.uers a i {
	vertical-align: middle;
	margin-right: 6px;
}
.uers a {
	color: #FFF;
}
.news {
	float: right;
	color: #c8efff;
}
.news span {
	background: #e10000;
	width: 16px;
	height: 16px;
	color: #FFF;
	vertical-align: middle;
	border-radius: 20px;
	text-align: center;
	line-height: 16px;
	margin-top: 5px;
	margin-left: 6px;
	display: block;
	float: right;
}
.navbar-nav>li {
	width: 100px;
	height: 90px;
	overflow: hidden;
	float: left;
	padding: 20px 0px;
	transition: all .5s linear;
}
.navbar-nav>li:hover {
	background: rgba(31,37,45,0.5);
}
.navbar-nav>li.hover {
	background: rgba(31,37,45,1);
}
.navbar-nav>li a i {
	font-size: 40px;
	display: block;
	margin-bottom: 12px;
	margin-top: 6px;
}
.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	color: #FFF;
	display: block;
	text-align: center;
	font-size: 16px;
}
.col-xs-12 {
	padding: 0px;
}
.panel {
	margin-bottom: 0px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.panel-title i {
	margin-right: 10px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #26ade4;
	border-color: #26ade4;
	border-left: 2px solid #156c8f;
}
.sidebar {
	width: 12%;
	height: 690px;
	background: #fff;
	float: left;
}
.col-sm-9 {
}
.title {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e3e3e3;
}
.title .position {
	line-height: 40px;
	
	display: inline-block;
    text-indent: 12px;
}
.title .position img {
	margin-right: 6px;
}
.title .position a {
	font-size: 14px;
	color: #999;
	margin-right: 5px;
}
.title .position a:hover {
	color: #333;
}
.title .position span {
	font-size: 14px;
	color: #999;
}
.title .hope {
	float: right;
	line-height: 40px;
	margin-right: 20px;
}
.title .hope a {
	font-size: 14px;
	color: #999;
}
.title .hope a:hover {
	color: #333;
}
.title .hope span {
	font-size: 14px;
	color: #999;
	margin: 0 5px;
}


.panel-group {
	max-height: 1000px;
	overflow: hidden;
}
.leftMenu {
	margin: 10px;
	margin-top: 5px;
}
.leftMenu .panel-heading {
	font-size: 14px;
	padding-left: 20px;
	height: 36px;
	line-height: 36px;
	color: white;
	position: relative;
	cursor: pointer;
}/*转成手形图标*/
.leftMenu .panel-heading span {
	position: absolute;
	right: 10px;
	top: 12px;
}
/*.leftMenu .menu-item-left {
	padding: 2px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 6px;
}*/
.leftMenu .menu-item-left {
    padding: 2px;
    background: transparent;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
}
.leftMenu .list-group-item:hover {
	background: #9ea8b5;
	cursor:pointer;
	color:#FFF;
}
.panel-primary>.panel-heading {
	color: #fff;
	background-image:url(../images/menu.png);
	background-position:left center;
	background-repeat:repeat-x;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
}
.panel-group .panel {
	border-radius: 0px;
	margin: 0px;
}
.panel-group .panel+.panel {
	margin-top: 0px;
}
.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.list-group-item {
	padding-left: 42px;
}
.row {
    position: relative;
}
.leftBtn {

    width: 5px;
    height: 5px;
    overflow: hidden;
    background: red;
    position: absolute;
    top: 10px;

}

.red{color:red;}

.form-control{ padding: 0 12px;}

a:focus{outline:none;}