<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>英卡电子</title>
    <meta name="author" content="Cqingwo-Liu"/>
    <meta name="copyright" content="Copyright (c) 2011 Cqingwo All Rights Reserved."/>
    <!-- struts -->
    <link href="/static/admin/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/miluo.css"/>
    <!-- 调用远程jquery -->
    <script src="https://cdn.cqwo.com/js/jquery.min.js" type="text/javascript"></script>
    <!-- 调用Bootstrap-->
    <script src="https://cdn.cqwo.com/js/bootstrap.min.js" type="text/javascript"></script>
    <!--公共JS方法-->
    <script src="https://cdn.cqwo.com/js/commom.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/admin/scripts/showlist.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.cqwo.com/js/html5shiv.min.js"></script>
    <script src="https://cdn.cqwo.com/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div id="wrapper">
    <div class="title">
        <div class="position">
            <img src="/static/admin/images/position.png" alt=""/>
            <a href="#">应用管理</a>
            <img src="/static/admin/images/right.png" alt=""/>
            <span>我的应用列表</span>
        </div>


        <div class="hope" th:replace="~{admin/shared/common_header :: hope}"></div>
    </div>

    <form action="list" method="post">

        <div id="contenr">
            <div class="contenr">
                <div class="hurf">
                    <div class="input-group col-md-12">

                        <a class="btn btn-default right" href="add.html"
                           style="font-size: 10px; height:28px;">添加应用</a>
                        <table>
                            <tbody>
                            <tr>
                                <td style="font-size: 12px;">AppId：</td>
                                <td width="170"><input class="form-control"
                                                       id="appId" name="appId" placeholder="appId"
                                                       style="font-size: 10px; height:28px;" type="text" value=""/>
                                </td>
                                <td width="35">&nbsp;</td>
                                <td style="font-size: 12px;">应用名称：</td>
                                <td width="170"><input class="form-control" id="appName" name="appName"
                                                       placeholder="应用名称" style="font-size: 10px; height:28px;"
                                                       type="text" value=""/></td>

                                <td width="35">&nbsp;</td>
                                <td>
                                    <button class="searchBut submit" style="height: 28px; width: 70px; border: none"
                                            type="submit" value="搜索">搜索
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear clearfix"></div>
                <table width="98%" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="40" align="center"><input type="checkbox" id="allSelect"/></th>
                        <th width="120" align="left">开发者ID</th>
                        <th width="120" align="left">开发者名称</th>
                        <th width="120" align="left">开发者key</th>
                        <th align="left">项目描述</th>
                        <th width="150" align="left">管理操作</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr th:each="info : ${Model.appInfoList}">
                        <td align="center"><input type="checkbox"/></td>
                        <td align="left" th:text="${info.appId}"></td>
                        <td align="left" th:text="${info.appName}"></td>
                        <td align="left" th:text="${info.apiKey}"></td>
                        <td align="left" th:text="${info.description}"></td>

                        <td align="left">
                            <a class="btn btn-default"
                               th:href="'edit.html?id='+${info.id}"
                               href="edit.html?id=1"
                               style="font-size: 10px; height:28px;">编辑</a>
                        </td>
                    </tr>


                    </tbody>
                </table>
                <div class="clear clearfix"></div>
                <div class="number">
                    <ul id="dataPageList" class="pagination" th:utext="${Model.pageModel.toString()}"></ul>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

</html>
