<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>英卡电子</title>
    <meta name="author" content="Cqingwo-Liu"/>
    <meta name="copyright" content="Copyright (c) 2011 Cqingwo All Rights Reserved."/>

    <!-- struts -->
    <link href="/static/admin/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/miluo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/formedit.css"/>

    <!-- 调用远程jquery -->
    <script src="https://cdn.cqwo.com/js/jquery.min.js"></script>
    <!-- 调用Bootstrap-->
    <script src="https://cdn.cqwo.com/js/bootstrap.min.js"></script>
    <script src="/static/admin/scripts/jquery.validate.js"></script>
    <script src="/static/admin/scripts/jquery.validate.unobtrusive.js"></script>
    <!--公共JS方法-->
    <script src="https://cdn.cqwo.com/js/commom.js" type="text/javascript"></script>
    <!--调用本地插件-->


    <link type="text/css" rel="stylesheet" href="/components/umeditor/themes/default/css/umeditor.css">
    <script type="text/javascript" src="/components/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" src="/components/umeditor/umeditor.js"></script>
    <script type="text/javascript" src="/components/umeditor/lang/zh-cn/zh-cn.js"></script>


    <title>Title</title>
</head>
<body>

<div class="title">
    <div class="position">
        <img src="/static/admin/images/position.png" alt=""/>
        <a href="javascript:history.go(-1);">用户列表</a>
        <img src="/static/admin/images/right.png" alt=""/>
        <span>用户详情</span>
    </div>
    <div th:replace="~{admin/shared/common_message :: hope}"></div>
</div>

<div id="wrapper">
    <div id="contenr">
        <div class="addTable">
            <table style="width: 99%" class="table table-striped table-bordered table-hover">

                <tbody>
                <tr>
                    <th colspan="4" align="left">基本信息</th>
                </tr>
                <tr>
                    <td width="150px">用户名：</td>
                    <td width="320px" th:text="${Model.userInfo.userName}"></td>
                    <td width="150px">邮箱：</td>
                    <td th:text="${Model.userInfo.email}"></td>
                </tr>

                <tr>
                    <td width="150px">昵称：</td>
                    <td width="320px" th:text="${Model.userInfo.nickName}"></td>
                    <td width="150px">手机：</td>
                    <td th:text="${Model.userInfo.mobile}"></td>
                </tr>

                <tr>
                    <td width="150px">用户性别：</td>


                    <td width="320px" th:text="${Model.userInfo.gender}"></td>
                    <td width="150px">生日：</td>
                    <td th:text="${Model.userInfo.birthday}"></td>

                </tr>

                <tr>
                    <td width="150px">真实姓名：</td>
                    <td width="320px" th:text="${Model.userInfo.realName}"></td>
                    <td width="150px">身份证号：</td>
                    <td th:text="${Model.userInfo.idCard}"></td>
                </tr>

                <tr>
                    <td width="150px">地址：</td>
                    <td width="320px" th:text="${Model.userInfo.address}"></td>
                    <td width="150px">头像：</td>
                    <td><a th:href="${Model.userInfo.avatar}" target="view_window">
                        <img class="img-responsive" alt="加载失败" title="点击可查看原图" th:src="${Model.userInfo.avatar+'?imageMogr2/thumbnail/!20p'}" width="50" height="50"
                             style="margin: 10px; border-radius: 3px; border: 2px solid darkred ;float: left"/></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>